header {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}
.card-img-center {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 100%;
    min-height: 80%;
    max-height: 80%;
}