html,body {
    height: 100%;
    background-color: #5798a2;
}

body {
    background-color: #5798a2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color:#5798a2;
    
}

footer {
    text-align: center;
    background-color:#5798a2;
    padding: 10px;
    font-size: 14px;
    color: #0f0101e5;
    margin-top: auto;
}


.navbar .container-fluid {
    background-color:#5798a2;
}
.card-img-center {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 100%;
    min-height: 80%;
    max-height: 80%;
}
.search-box {
    background-color: #5798a2;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
