
html,body {
    height: 100vh;
    background-color: #5798a2;
    overflow-x: hidden;
}
body {
    background-color: #5798a2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}
header {
    text-align: center;
    background-color:#5798a2;
    
}
nav {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5798a2), color-stop(100%,#317f8b));
}
footer {
    text-align: center;
    background-color:#5798a2;
    padding: 10px;
    font-size: 14px;
    color: #0f0101e5;
    margin-top: auto;
}
.navbar-logo {
    height: 110px;
    width: 200px;
}
.navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.search-box {
    background-color: #5798a2;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.card-img-center {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 100%;
    min-height: 80%;
    max-height: 80%;
}